<!doctype html>
<div class="container">
    <form class="form-signin" role="form" ng-submit="loginLocalAccount(credentials)" novalidate> 
        <h2 class="form-signin-heading">Please login with local account</h2>
        <div class="alert alert-danger animate-hide" ng-show="alertMessage">{{alertMessage}}</div>
        <input type="email" class="form-control" ng-model="credentials.email" placeholder="Email address" required>
        <input type="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
        <button class="btn btn-lg btn-default btn-block" type="submit">Log In</button>
    </form>
<hr>
</div>
<div class="container">
    <h2 class="form-signin-heading">Or, login with social account</h2>
    <div class="btn-group">
        <a class='btn btn-info disabled'><i class="fa fa-twitter" style="width:16px; height:17px"></i></a>
        <a class='btn btn-info ' ng-click="loginSocialAccount('twitter')" style="width:12em"> Sign in with Twitter</a>
    </div> 
    <div class="btn-group">
        <a class='btn btn-primary disabled'><i class="fa fa-facebook" style="width:16px; height:17px"></i></a>
        <a class='btn btn-primary ' ng-click="loginSocialAccount('facebook')" style="width:12em"> Sign in with Facebook</a>
    </div>    
    <div class="btn-group">
        <a class='btn btn-danger disabled'><i class="fa fa-google-plus" style="width:16px; height:17px"></i></a>
        <a class='btn btn-danger' ng-click="loginSocialAccount('google')"  style="width:12em;"> Sign in with Google</a>
    </div>
    <div class="btn-group">
        <a class='btn btn-default disabled'><i class="fa fa-yahoo!" style="width:16px; height:17px"></i></a>
        <a class='btn btn-default' ng-click="loginSocialAccount('yahoo')" style="width:12em;"> Sign in with Yahoo!</a>
    </div>

    <br/><br/>

    <div class="btn-group">
        <a class='btn btn-default disabled'><i class="fa fa-linkedin" style="width:16px; height:17px"></i></a>
        <a class='btn btn-default' ng-click="loginSocialAccount('linkedin')" style="width:12em;"> Sign in with LinkedIn</a>
    </div>
    <div class="btn-group">
        <a class='btn btn-default disabled'><i class="fa fa-github" style="width:16px; height:17px"></i></a>
        <a class='btn btn-default' ng-click="loginSocialAccount('github')" style="width:12em;"> Sign in with github</a>
    </div>
</div>
<div class="container">
    <hr>
    <h2 class="form-signin-heading">Or, sign up new account</h2>
    <a href="#/signup" class="btn btn-default">Sign Up</a>
</div>
<br/><br/>
