<div class="container">
    <h1> My Profile </h1>
    <a class="btn btn-default btn-sm" ng-click="logout()">Logout</a>
    <div class="alert alert-danger animate-hide" ng-show="alertMessage">{{alertMessage}}</div>
    <!-- local account -->
    <hr>
    <h3><span class="fa fa-user"></span> Local Account</h3>
    <div ng-show="profile.local.email">
    <p>
        <strong>id</strong>: {{profile._id}}<br>
        <strong>email</strong>: {{profile.local.email}}<br>
        <!--
        <strong>password</strong>: {{profile.local.password}}
        -->
    </p>
    </div>
    <div class="btn-group">
        <a ng-click="disconnectAccount('local')" class="btn btn-default" ng-show="profile.local.email">Disconnect with local account</a>
        <a ng-click="connectLocalAccount()" class="btn btn-default" ng-hide="profile.local.email">Connect with local account</a>
    </div>

    <hr>
    <h3><span class="fa fa-user"></span> Twitter Account</h3>
    <p ng-if="profile.twitter.token">
        <strong>id</strong>: {{profile.twitter.id}}<br>
        <!--
        <strong>token</strong>: {{profile.twitter.token}}<br>
        <strong>tokenSecret</strong>: {{profile.twitter.tokenSecret}}<br>
        -->
        <strong>display name</strong>: {{profile.twitter.displayName}}<br>
        <strong>photo</strong>: <img src={{profile.twitter.photo}} />
    </p>
    <div class="btn-group">
        <a class='btn btn-info disabled'><i class="fa fa-twitter" style="width:16px; height:17px"></i></a>
        <a class='btn btn-info ' ng-click="disconnectAccount('twitter')" style="width:12em" ng-show="profile.twitter.token"> Disconnect with Twitter</a>
        <a class='btn btn-info ' ng-click="connectSocialAccount('twitter')"  style="width:12em" ng-hide="profile.twitter.token"> Connect with Twitter</a>
    </div>

    <hr>
    <h3><span class="fa fa-user"></span> Facebook Account</h3>
    <p ng-show="profile.facebook.token">
        <strong>id</strong>: {{profile.facebook.id}}<br>
        <!--
        <strong>token</strong>: {{profile.facebook.token}}<br>
        <strong>refresh token</strong>: {{profile.facebook.refreshToken}}<br>
        -->
        <strong>display name</strong>: {{profile.facebook.displayName}}<br>
        <strong>email</strong>: {{profile.facebook.email}}<br>
    </p>
    <div class="btn-group">
        <a class='btn btn-primary disabled'><i class="fa fa-facebook" style="width:16px; height:17px"></i></a>
        <a class='btn btn-primary ' ng-click="disconnectAccount('facebook')" style="width:12em" ng-show="profile.facebook.email"> Disconnect with Facebook</a>
        <a class='btn btn-primary ' ng-click="connectSocialAccount('facebook')" style="width:12em" ng-hide="profile.facebook.email"> Connect with Facebook</a>
    </div>

    <hr>
    <h3><span class="fa fa-user"></span> Google+ Account</h3>
    <p ng-show="profile.google.token">
        <strong>id</strong>: {{profile.google.id}}<br>
        <!--
        <strong>token</strong>: {{profile.google.token}}<br>
        <strong>refresh token</strong>: {{profile.google.refreshToken}}<br>
        -->
        <strong>display name</strong>: {{profile.google.displayName}}<br>
        <strong>email</strong>: {{profile.google.email}}<br>
        <strong>photo</strong>: <img width=175 height=175 src={{profile.google.photo}} />
    </p>
    <div class="btn-group">
        <a class='btn btn-danger disabled'><i class="fa fa-google-plus" style="width:16px; height:17px"></i></a>
        <a class='btn btn-danger ' ng-click="disconnectAccount('google')" style="width:12em" ng-show="profile.google.email"> Disconnect with Google+</a>
        <a class='btn btn-danger ' ng-click="connectSocialAccount('google')" style="width:12em" ng-hide="profile.google.email"> Connect with Google+</a>
    </div>

    <hr>
    <h3><span class="fa fa-user"></span> Yahoo! Account</h3>
    <p ng-show="profile.yahoo.token">
        <strong>id</strong>: {{profile.yahoo.id}}<br>
        <!--
        <strong>token</strong>: {{profile.yahoo.token}}<br>
        <strong>refresh token</strong>: {{profile.yahoo.refreshToken}}<br>
        -->
        <strong>display name</strong>: {{profile.yahoo.displayName}}<br>
    </p>
    <div class="btn-group">
        <a class='btn btn-default disabled'><i class="fa fa-yahoo" style="width:16px; height:17px"></i></a>
        <a ng-click="disconnectAccount('yahoo')" class="btn btn-default" ng-show="profile.yahoo.token">Disconnect with yahoo</a>
        <a ng-click="connectSocialAccount('yahoo')" class="btn btn-default" ng-hide="profile.yahoo.token">Connect with Yahoo!</a>
    </div>

    <hr>
    <h3><span class="fa fa-user"></span> LinkedIn Account</h3>
    <p ng-show="profile.linkedin.token">
        <strong>id</strong>: {{profile.linkedin.id}}<br>
        <!--
        <strong>token</strong>: {{profile.linkedin.token}}<br>
        <strong>refresh token</strong>: {{profile.linkedin.refreshToken}}<br>
        -->
        <strong>display name</strong>: {{profile.linkedin.displayName}}<br>
        <strong>email</strong>: {{profile.linkedin.email}}<br>
        <strong>industry</strong>: {{profile.linkedin.industry}}<br>
        <strong>headline</strong>: {{profile.linkedin.headline}}<br>
        <strong>photo</strong>: <img src={{profile.linkedin.photo}} />
    </p>
    <div class="btn-group">
        <a class='btn btn-default disabled'><i class="fa fa-linkedin" style="width:16px; height:17px"></i></a>
        <a ng-click="disconnectAccount('linkedin')" class="btn btn-default"  ng-show="profile.linkedin.token">Disconnect with linkedin</a>
        <a ng-click="connectSocialAccount('linkedin')" class="btn btn-default" ng-hide="profile.linkedin.token">Connect with LinkedIn</a>
    </div>

    <hr>
    <h3><span class="fa fa-user"></span> GitHub Account</h3>
    <p ng-show="profile.github.token">
        <strong>id</strong>: {{profile.github.id}}<br>
        <!--
        <strong>token</strong>: {{profile.github.token}}<br>
        <strong>refresh token</strong>: {{profile.github.refreshToken}}<br>
        -->
        <strong>display name</strong>: {{profile.github.displayName}}<br>
        <strong>email</strong>: {{profile.github.email}}<br>
        <strong>photo</strong>: <img width=175 height=175 src={{profile.github.photo}} /><br>
    </p>
    <div class="btn-group">
        <a class='btn btn-default disabled'><i class="fa fa-github" style="width:16px; height:17px"></i></a>
        <a ng-click="disconnectAccount('github')" class="btn btn-default" ng-show="profile.github.token">Disconnect with GitHub</a>
        <a ng-click="connectSocialAccount('github')" class="btn btn-default" ng-hide="profile.github.token">Connect with GitHub</a>
    </div>
    <br /><br />
</div>
